
body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(210,210,218,1) 0%, rgba(0,212,255,1) 95%);
margin: 0;
padding: 0;
}

.Menu {
    
    width: 100%;
    height: 5vh;
    background-color: black;
    display: flex;
    align-items: center;
}

.Menu button {
    height: 4vh;
    width: 5vw;
    margin-left: 5px;
    font-size: 2em;
}

.Menulateral {
    height: 100vh;
    width: 15vw;
    background-color: black;
    margin-top: -33px;
    color: white;
    font-size: 2em;
}